.poster {
  width: 50%;
  border-radius: 30px;
}
.wrap{
    gap:20px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    border-radius: 30px;
}
.title {
    gap:10px;
    
}
.watchlist{
    color:#FFE353;
}
.watchlist-button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.wrapper{
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
}
.wrapper i{
    font-size:10rem;
}
@media (max-width:968px){
    .wrap{
        flex-direction:column;
        align-items: center;
    }
    .desc{
        text-align: center;
        padding:20px;
    }
    .title{
        justify-content: center;
    }
    .poster{
        width:100%;
    }
}