<div class="container-fluid mt-3" style="background-color: rgba(240, 240, 231, 0.884); width: 95%; height: 220px;">

    <span >
        <p class="fs-2 fw-semibold pt-4 ps-4">Welcome to our movie app</p>
    </span>

    <span>
        <p class="fw-normal pt-2 ps-4" style="font-size: smaller;">Millions of movies, TV shows and people to discover. Explore now </p>
    </span>

    <span>
        <form class="d-flex ms-4 pb-4 pt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search and explore..."
             aria-label="Search"/>
            <button class="btn btn-outline-success ms-3 me-3" type="submit" 
            style="background-color: rgba(255, 225, 0, 0.873); border: none !important; color: black !important;
            font-size: smaller; width: 140px;">Search</button>
        </form>
    </span> 

</div>