.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  z-index: 5;
  cursor: pointer;
}
.heart-icon {
  color: white;
  transition: color 0.3s;
}
.heart-icon.liked {
  color: #FFE353;
}
.heart-icon.animate {
  animation: pop 0.3s;
}
@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1); }
}